#div1 
{
margin:auto;
width: 300px;
font-size:1.25em;
position: center;
padding: 10px;
}
table 
{
border-collapse:collapse;
border:1px solid #7f7f7f;
}
td 
{
border:1px solid #7f7f7f;
width:50px;
height:50px;
text-align:center;
}
h1{
    font-size: 2em;
    display: inline-block;
   /* background-color: magenta;*/
    text-align: justify;
    margin: 10px;
}


 .pretty {
    /* background-color:#008CBA;*/
     /*border: none;*/
     color:black;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     position: center;
     transition-duration: 0.4s;
     border-radius: 12px;
     
   }
 .pretty:hover {
     background-color: #008CBA; 
     color: white;
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   }
   form {
    font: sans-serif;
    text-align: center;
  }
  h4{
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;  
    }
  input{
    transition: width 0.4s ease-in-out;
    background-color: white;
    width: 2%;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 0px;
}
input:focus {
    width: 5%;
  }
  